<div class="toolbar" role="banner">
  <span style="padding:5px">Task List</span>
</div>

<div class="row col-sm-12 col-md-12 col-lg-12">
  <div class="offset-sm-3 offset-md-3 offset-lg-3 col-sm-6 col-md-6 col-lg-6">


    <mat-card style="margin:20px">
      <div class="row col-sm-12 col-md-12 col-lg-12">
        <mat-form-field class="col-sm-12 col-md-12 col-lg-12" appearance="outline">
          <mat-label>Task List Item</mat-label>
          <input matInput type="text" class="form-control" placeholder="Description">
        </mat-form-field>
        <div class="center">
          <button mat-flat-button color="primary">Add</button>
        </div>
        <div *ngIf="taskItems.length == 0" class="empty-message">No items</div>
        <div *ngIf="taskItems.length > 0" style="max-height: 400px; overflow:auto">

          <div *ngFor="let item of taskItems" class="item-row row col-sm-12 col-md-12 col-lg-12">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <span class=row-subheader>{{item.description}}</span>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 row-subheader" style="text-align:right; margin:auto">
            Edit/Delete
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
</div>
